*{
    /*border: solid red;*/
}

body {
    background-color: #1F2937;
    margin: 0;
}

.spacing{
    margin-left: 19.1%;
    margin-right: 19.1%;
}

.lialign{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-self:flex-start;
}

.liMarginLeft{
    margin-left: auto;
}

.liMarginRight{
    margin-right: 20px;
}

ul{
    list-style: none;
}

.heromaintext{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.herotext2,.headerlink {
    font-size: 18px;
    color: #E5E7EB;
}

.herotext2{
    margin:0;
}

.img1{
    width: 400px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.img2, .img3, .img4, .img5{
    width: 130px;
    height: 130px;
    margin: 10px;
    margin-bottom: 10px;
    border: solid #3882F6 3px;
    border-radius: 10%;
}

.imgtext{
    margin: 19px;
    margin-bottom: 80px;
    margin-top: 0px;
    text-align: center;
}

.imgtextalignment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    margin:0;
}

.buttoncolor, .calltoaction{
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
}

button{
    min-height: 25px;
    min-width: 80px;
    border-radius: 5px;
    margin-top: 5px;
}

fieldset {
    border-radius: 10px;
    }

.information{
    font-size: 38px;
    color: #1f2937;
    text-align: center;
    margin: 0px;
}

.margin0{
    margin:0;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    min-width:61.8
}

.qoutebg{
    background-color: #E5E7EB;
    width: 100%;
    margin: 0;
}

.notqoutebg{
    background-color: #ffffff;
    width: 100%;
    margin: 0;
}

.divsize{
    height: 20px;
}

.bottomright{
    display:flex;
    justify-content: flex-end;
}

.qoute{
    font-size: 36px;
    font-family: sans-serif;
    font-weight: light;
    font-style: italic;
}