*{
    /*border: solid red;*/
}

body {
    background-color: #1F2937;
    margin: 0;
}

.spacing{
    margin-left: 20px;
    margin-right: 20px;
}

.lialign{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-self:flex-start;
    margin-left: auto;
}

.liMarginLeft{
    margin-left: auto;
}

.liMarginRight{
    margin-right: 20px;
}

.marginLeftRight{
    margin-left: 30px;
    margin-right: 30px;
}

ul{
    list-style: none;
}

.heromaintext{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.herotext2,.headerlink {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.img1{
    width: 400px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.img2, .img3, .img4, .img5{
    width: 140px;
    height: 140px;
    margin: 10px;
    margin-bottom: 10px;
    border: solid #3882F6 3px;
    border-radius: 10%;
}

.imgtext{
    margin: 19px;
    margin-bottom: 80px;
    margin-top: 0px;
    text-align: center;
}

.imgtextalignment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    margin:0;
}

.buttoncolor, .calltoaction{
    color: #3882F6;
    background-color: #3882F6;
    border: none;
}

input{
    border-radius: 10%;
}

fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    }

.information{
    font-size: 38px;
    color: #1f2937;
    text-align: center;
    margin: 0px;
}

.qoutebg{
    background-color: #E5E7EB;
    width: 100%;
}

.qoute{
    font-size: 36x;
    font-family: "light italic", sans-serif
}